.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fcf9fd;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(180, 116, 116, 0.1);
}

.navbar-logo .logo {
    height: 35px;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 26px;
}

.navbar-links a {
    text-decoration: none;
    color: #6b1fa2;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar-links a:hover {
    color: #50147c;
}

.navbar-actions .logout-btn {
    background: #f4e7f9e6;
    color: #b280d6;
    font-weight: 400;
    border: none;
    padding: 8px 16px;
    border-radius: 14px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.navbar-actions .logout-btn:hover {
    background: #f4e7f9e6;
}
