.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #420F0F;
}

.container > * {
    width: fit-content;
}

.rsvpContainer {
    margin-top: 20px;
    cursor: pointer;
}

.option img, .rsvpContainer img {
    filter: brightness(0) saturate(100%) invert(4%) sepia(44%) saturate(7373%) hue-rotate(354deg) brightness(94%) contrast(91%);
}

.img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.date {
    font-size: 28px;
    margin-top: 0;
}

.title {
    font-size: 50px;
    margin: 0.4em 0;
}
.name {
    font-size: 32px;
}

.text {
    white-space: pre-wrap;
}

.option {
    cursor: pointer;
}

.option .selected {
    background-color: #420F0F;
    border-radius: 50%;
}

.option .selected img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(88%) saturate(1094%) hue-rotate(185deg) brightness(96%) contrast(96%);
}